@charset "utf-8";
/* 공통모듈 CSS - common.css */

/* 웹폰트 CDN으로 불러오기
CDN(Content Delivery Network)은 
어떤 웹파일을 네트워크로 불러오는 것임! */

@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

/* 웹폰트 적용 코드 */
/*   font-family: "Bagel Fat One", system-ui;
 font-family: "Diphylleia", serif;
  font-family: "Gowun Batang", serif; */
@font-face {
    /* 폰트 이름 정의: CSS에서 이 이름으로 폰트를 참조합니다. */
    font-family: 'MyCustomFont';

    /* 폰트 파일의 경로와 형식 지정 */
    src: url('../fonts/HCRBatang.ttf') format('truetype');

    /* (선택 사항) 폰트의 굵기 지정 */
    font-weight: normal;

    /* (선택 사항) 폰트의 스타일 지정 (예: italic) */
    font-style: normal;
}

h1, h2{
  font-family: 'MyCustomFont', sans-serif;
}

/* 공통셋팅 */
html{
    /* 부드러운 스크롤 셋팅 */
    scroll-behavior: smooth;  

    /* 전체 글자크기 */
    font-size: 10px;
    /* rem단위 계산편의를 위함 */
}

/* 전체 글씨체 적용하기 */
body {
  /* 웹폰트체를 전체에 적용함! */
  font-family: "Instrument Sans", sans-serif;
     font-size: 10px;
}




#spart-menu {
  max-width: 1360px;
  top: 0;
  margin: 0 auto;
  background: url(../images/background.gif) no-repeat center top / cover;
  z-index: 999;
  height: 94px;
}
/* 인박스 높이값 초기화 */
.spart-menu.inbox {
  height: auto;
}


.spart-menu.inbox h1 {
  font-size: 4rem;
  color: #ffffff;
}
.spart-menu ul {
  /* 플렉스박스 */
  display: flex;
  height: 94px;
 /* padding: 0 34px; */
 padding: 0 calc(100% / 12);
  justify-content: space-between;
  align-items: center;
  transition: 0.4s ease-out;
}
.spart-menu ul li {
  flex: 1;
  text-align: center;
}
.spart-menu ul li:nth-child(1),
.spart-menu ul li:nth-child(2) {

  text-align: left;

}
.spart-menu ul li:nth-child(4),
.spart-menu ul li:nth-child(5) {

  text-align: right;

}

/* 스티키 메뉴이름 */
.spart-menu ul > li > a {
  color: white;
  font-size: 1.8rem;
  display: block;
  /* padding: 9px 24px; */
  /* 줄바꿈방지 */
  white-space: nowrap;
  background-color: transparent;
}

/* 호버시 색 변경 */
.spart-menu ul > li > a:hover {
  color: #c52531;
   background-color: transparent;
}
.spart-menu ul > li > a.active {
  color: #c52531;
 background-color: transparent;
}


/* ////////////////////////////////////////////// */


.line2 a{
  font-size: 1.4rem;
}







/* /////////////////////////////////////////////////// */
/* 하단공통 */
.bottom-flx h1 {
  font-size: 6rem;
}
.bottom-flx p,
.bottom-info-right h3,
p {
  font-size: 1.6rem;
}

.bottom-area {
  height: 310px;
  background: url(../images/background.gif);
  /* overflow: hidden; */
  color: #fff;
  box-sizing: border-box;
  padding: 0 40px 25px 40px;
}

.bottom-info-right {
  padding-top: 6vmin;
  display: flex;
  justify-content: flex-end;
  gap: 5vmin;
}
.bottom-info {
  padding-top: 6vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.bottom-area img {
  width: 28px;
}
