@charset "utf-8";
/* 쿠사마야요이 메인 페이지 CSS - main.css */

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);
/* 12그리드 CSS */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/***************** 메인 CSS ********************/

/* 2. 상단영역 */
.top-area {
  background: url(../images/background.gif) no-repeat center top / cover;
  height: 125px;
  width: 100%;
}

/* 양옆 선 만들기 */
.top-area::after {
  content: "";
}
.top-area .inbox {
  position: fixed;
  height: 125px;
  margin-bottom: 40px;
  padding: 24px 0 24px 0;
}
.flex-bar {
  margin: 0 10px;
  display: flex;
  align-items: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.box {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 6rem;


}

.logo {
  display: flex;
  flex-direction: column;
}
/* ////////////////////////////////////////////// */

/* 3. 작가배너영역 */
.banner-area {
  position: relative;
  height: 600px;
  text-align: center;
}

.banner-area .inbox {
  position: fixed;
}
.bg {
  aspect-ratio: 990 /420;
  position: absolute;
  top: 65px;
  left: 50%;
  translate: -50% 0;
}
.yayoi {
  position: absolute;
  top: 25px;
  width: 160px;
  left: 50%;
  translate: -50% 0;
  z-index: 1;
}
.scroll-inbox {
  position: absolute;
  top: 666px;
  left: 50%;
  translate: -50% 0;
  text-align: center;
  z-index: 1;
  
}
/* //////////////////////////////////////////////// */
/* 4. 메인영역  */
.main-area {
  height: 2625px;
  z-index: 1;
  text-align: center;
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.main-area article {
  display: flex;
  flex-direction: column;
  /* width: calc(100% / 3); */
    flex: 1;
}

.main-area article ul{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}

/* 메뉴박스 */
.main-info {
  /* top: -404px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 488px;
}

.main-menu {
  width: 445px;
  height: 632px;
}

/* 
.main-box >ul{

} */

.first-line{
  position: relative;
width: 446px;
height: 632px;
}


.main-menu{
 width: 348px;
    height: 450px;
  background: url(../images/메뉴박스1.png) no-repeat center top / cover;}

/*메뉴글씨사이즈 */
 .main-info h3 {
  position: relative;
  font-size: 3rem;}
h4{
  font-size: 1.6rem;
}
  

  /* 메인 중간줄  */
.main-center {
  position: relative;
  height: 470px;
  background: url(../images/메인이미지1.png) no-repeat center top / cover;
}
.main-center h1 {
    position: absolute;
    top: 9%;
    left: 50%;
    translate: -50% 0;
    writing-mode: vertical-lr;
    letter-spacing: 30px;
    padding-top: 30px;
    color: #ffffff;
}

/* //////////////////////////////////////////////// */
/* 5. 컨택영역 */
.contact-area {
  box-sizing: border-box;
  padding: 0 70px;
  background: url(../images/하단.png) no-repeat center top / cover;
  height: 515px;
}
.contact-area h2 {
  margin-bottom: 10px;
}

.contact-box {
  position: relative;

  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 25px;
}
.contact-area > p {
  margin-left: 20px;
}
/* 컨택영역 박스공통 */
.desc-box {
  width: calc(100% / 2.5);
  height: 30px;
  margin-left: 20px;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1;
}

.desc-box h4 {
  margin: 5px;
}

.details-box {
  height: 136px;
}

.transmit-box {
  text-align: center;
  background-color: #e6e6e6;
}

.big {
  position: relative;
  width: 410px;
  top: -429px;
  right: -743px;
}

.middle {
  position: relative;
  width: 154px;
  top: -259px;
  right: -651px;
}

.small {
  width: 141px;
  position: relative;
  top: -271px;
  right: 93px;
}
/* //////////////////////////////////////////// */
/* 6. 하단영역 */
.bottom-area {
  height: 310px;
  background: url(../images/background.gif);
  /* overflow: hidden; */
  color: #fff;
  box-sizing: border-box;
  padding: 0 40px 25px 40px;
}

.bottom-info-right {
  padding-top: 6vmin;
  display: flex;
  justify-content: flex-end;
  gap: 5vmin;
}
.bottom-info {
  padding-top: 10vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.bottom-area img {
  width: 28px;
}
