@charset "utf-8";
/* 쿠사마야요이 메인 페이지 CSS - main.css */

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);
/* 12그리드 CSS */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/***************** 메인 CSS ********************/

/* 2. 상단영역 */
.top-area{ 
    height:125px;
    
}
/* 3. 작가배너영역 */
.banner-area{
    position: relative;
 height:600px;
 text-align: center;

 
}
.bg{ 
    aspect-ratio: 990 /420;
    position: absolute;
    top: 65px;
      left: 50%;
    translate: -50% 0;
}
.yayoi{
    position: absolute;
    top: 25px;
    width: 160px;
    left: 50%;
    translate: -50% 0;
z-index: 1;
}
 .scroll-inbox{
     position: absolute;
     top: 540px;
     left: 50%;
     translate: -50% 0;
     z-index: 1;
 }

/* 4. 메인영역  */
.main-area{
 height: 2084px;   
}
/* 5. 컨택영역 */
       .contact-area{
           height: 408px;
       }
/* 6. 하단영역 */
.bottom-area{
    height: 250px;
}