@charset "utf-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 외부 CSS 불러오기 */
/* @import url(경로/파일명); */

/* 상단 하단 공통모듈 */
@import url(./common.css);

@import url(./core.css);
/* 초기화CSS */
@import url(./reset.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

.paging-list ul{
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  padding: 5vh 0;
}

/***************** 메인 CSS ********************/

/* 제목파트 */
.tit2 .inbox {
  max-width: 1360px;
}
/* 하위메뉴 호버시 */
.line1 > a:hover {
  color: #c52531;
  font-weight: bold;
}

.line1 {
  display: flex;
  height: 30px;
  border-bottom: 2px solid #b3b3b5;
  align-items: center;
  gap: 18px;
  font-size: 1.6rem;
  /* ?? */
  padding-left: calc(100% / 13.5);
}

.line2 {
  font-size: 3.6rem;
  text-align: center;
  align-content: center;
  height: 85px;
  border-bottom: 2px solid #b3b3b5;
}

.line3 {
  height: 30px;
  border-bottom: 2px solid #b3b3b5;
 align-content: center;
  margin-bottom: 45px;
  /* ?? */
  padding-left: calc(100% / 13.5);
}



/*이동버튼*/
.abtn {
    position: absolute;
   top: 50%;
    transform: translateY(-50%);
    /*Y축 중앙이동*/
}


/*왼쪽버튼*/
.ab1 {
    left: 50px;
}

/*오른쪽버튼*/
.ab2 {
    right: 50px;
}

/* ////////////////////////////////////////// */

/* for문 전에 */
/*.painting-part ul.cont-box {
    gap: 21.4vh 4.5vh;
}
.cont-box{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
}
.painting-part li {
  컨텐츠 세로 배치 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
    width: calc((100% - 4.5vh * 2) / 3); */

/* 전체 화면구성 
    aspect-ratio: 340 / 455;
    box-shadow: 0 0 10px #ccc;
    box-sizing: border-box;
    padding: 24px 20px;
    cursor: pointer;}

    .cont-box img{
      max-width: 340px;
    }
    .cont-box h3{
     text-align: center;
     font-size: 1.8rem;
     } */

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

/* 내부 플렉스박스 */
.wrap ul {
  display: flex;
  /* 랩핑박스 - 줄바꿈됨 */
  flex-wrap: wrap;
  /* 사이간격: gap */
  /* gap: 위아래 양쪽 */
  gap: 21.4vh 4.5vh;
}

.wrap li {
  /* 한줄에 3개 오는 설정값을 찾음 */
  width: calc((100% - 4.5vh * 2) / 3);
  aspect-ratio: 340 / 455;
  cursor: pointer;
  text-align: center;

  /* 이미지,글자 셋팅 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  /* 패딩, 보더를 크기에 포함하기 : bxb */
  box-sizing: border-box;
  gap: 32px;
 
}

/* 이미지태그를 배경처럼 넣기 */
.wrap img {
  max-width: 340px;
  /* height: 100%; */
  object-fit: cover;
  /* object-fit속성
            이미지를 해당박스에서 이미지처럼
            넘치는 부분을 적당히 잘라서 안보이게하며
            비율 유지를 할 수 있게 해주는 속성
            그 값으로 cover를 사용함! */
}
.wrap h3 {
  font-size: 1.8rem;
}

      .dots {
    position: relative;
    text-align: center;
    margin: 107px;
}

.dot{
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: #bdbdbd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 19px;
}

.active, .dot:hover{
    background-color: #666666;}